.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12rem;
}
.error {
  text-align: center;
  color: #ffff;
}

details {
  margin-left: -6rem;
}

.error-container > button {
  align-self: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  background: #639FC0;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 5px;
}