.header {
  background-color:  #1a1a1a;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  color: #ffff;
  font-weight: normal;
  letter-spacing: 0.07em;
}

.tomatillo {
  width: 2.5vw;
  margin: 1rem;
  transform: rotate(25deg);
}